<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<body>
				
		<%  if(message.length>0) { %>
				<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<div class="new-playlist" id="new-playlist">
			<h3><a class="create" href="/playlists/new"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a></h3>
		</div>

		<div class="container-fluid"> 
			<ul class="row group">
				
				<section>
					<% for(var i=playlists.length-1; i>=0; i--) {%>
						<% let count=i%>

							
							<li class="col-md-4">
								<div class="image-wrapper" id="<%= playlists[i]._id %>">
									<img class="tape-img" src="assets/images/img_tape.png">
									<div class="title-wrapper">
										<h1 class="article-title"><%= playlists[i].title %></h1>
									</div>
									<div class="username-wrapper">
										<p class="username-text"><%= playlists[i].username %></p>
									</div>
								</div>
							</li>
							

					<% } %>
				</section>

			</ul>
		</div>
	<body>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
