<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="col-sm-6 col-sm-offset-3">
				


				<h1>isAuthenticated</h1>
				<p><%= isAuthenticated %></p>
				<div class="new-playlist" id="new-playlist">
				<a href="/playlist/new">
				<img src="assets/images/icn_add.png"> Create Playlist</a></div>
			
				<section>
					<% for(var i=0; i<playlists.length; i++) {%>
						<article class="article-container">
							<div class="title-container">>
								<h1 class="article-title"><%= playlists[i].title %></h1>
							</div>
							<p class="article-synopsis"><%= playlists[i].synopsis %></p>
							<hr class="yellow-line">
						</article>
					<% } %>
				</section>

			</div>

		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
