<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
		
			<div class="col-sm-6 col-sm-offset-3">
					<!-- show authentication messages -->
					<%  if(message.length>0) { %>
						<div class="alert alert-danger"><%= message %></div>
						<% } %>

				<div class="new-playlist" id="new-playlist"><a href="/playlist/new"><img src="assets/images/icn_add.png"> Create Playlist</a></div>
				
				<article class="mxlist col-md-6 col-md-offset-3">
					<p><% title %></p>
					<p>ugh</p>
				</article>
			</div>
			
		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>