<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="col-sm-6 col-sm-offset-3">
				

				<h1>isAuthenticated</h1>
				<p><%= isAuthenticated %></p>
				<div class="new-playlist" id="new-playlist">
					<h3><a class="create" href="/playlists/new"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a></h3>
				</div>
			
				<section>
					<% for(var i=0; i<playlists.length; i++) {%>
						<% let count=i%>
						<article class="article-container">
							<div class="title-container" id="<%= playlists[i]._id %>">
								<h1 class="article-title"><%= playlists[i].title %></h1>
								<p class="playlist-id"> <%= playlists[i]._id %></p>
							</div>
							<hr class="yellow-line">
						</article>
					<% } %>
				</section>

			</div>

		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
