<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="mxlist newlist">
				<!-- TODO instead if doing this, use JQUERY AJAX)-->
				<form action="/api/playlists" method="POST" class="new-form">
					<div class="playlist-form" id="playlist-form">
						<input type="text" placeholder="playlist title" name="title" id="title">
						<input type="text" placeholder="synopsis" name="synopsis" id="synopsis">
						<input type="text" placeholder="keywords" name="keywords" id="keywords">
						<input type="radio" name="type" class="type" value="artist" id="type-artist" checked> Artist
						<input type="radio" name="type" class="type" value="song" id="type-song"> Song
					</div>
					<div class="song-form">
					<hr>
						<input type="text" placeholder="artist" name="artist" id="artist">
						<input type="text" placeholder="song name" name="name" id="name">
						<input type="text" placeholder="link to image" name="link to image" id="song-imgURL">
						<input type="text" placeholder="link to song" name="link to song" id="songURL">
						<input type="text" placeholder="song description" name="song description" id="description">
					</div>
					<hr>					
					<div class="new-song-form"></div>
					<hr>
					<a class="add-song-button" href="#"><img src="assets/images/icn_add.png">Add song</a>
					
					<input type="submit">Submit
				</form>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
