<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>	
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
			
			<div class="mxlist newlist">
				<form action="/playlist" method="POST">
					<div class="playlist-info">
						<input type="text" placeholder="playlist title" name="title">
						<input type="text" placeholder="synopsis" name="synopsis">
						<input type="text" placeholder="keywords" name="keywords">
						<input type="radio" name="type" value="artist" checked> Artist
						<input type="radio" name="type" value="song"> Song
					</div>
					<div class="song-info">
					<hr>
						<input type="text" placeholder="artist" name="artist">
						<input type="text" placeholder="song title" name="title">
						<input type="text" placeholder="link to image" name="link to image">
						<input type="text" placeholder="link to song" name="link to song">			
						<input type="text" placeholder="song description" name="song description">				
					</div>
					<hr>
					<img src="assets/images/icn_add.png">Add song</div>
					<button type="submit">Submit</button>
				</form>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>