<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="mxlist newlist">
				<!-- TODO instead if doing this, use JQUERY AJAX)-->
				<form action="/api/playlists" method="POST" class="new-form" id="new-form" name="newForm">
					<div class="playlist-form" id="playlist-form">
						<input type="text" placeholder="playlist title" name="title" id="title">
						<input type="text" placeholder="synopsis" name="synopsis" id="synopsis">
						<input type="text" placeholder="keywords" name="keywords" id="keywords">
						<input type="radio" name="type" class="type" value="artist" id="type-artist" checked> Artist
						<input type="radio" name="type" class="type" value="song" id="type-song"> Song
					</div>
					<hr>
					<div class="new-song-form"></div>
					<hr>
					<a class="add-song-button" href="#"><img src="assets/images/icn_add.png">Add song</a>

					<input type="submit" id="submitForm" name="submit">
				</form>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
