<html>
<head>
	<% include ../partials/head.ejs %>	
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
			
			<div class="mxlist newlist">Display Playlist Here
			</div>

		</div>
	</main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>