<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
			
			<div class="form form-signup">
				<form action="/signup" method="post">
					<input placeholder="email" type="email" name="email" id="email">
					<input placeholder="username" type="text" name="username" id="username">
					<input placeholder="password" type="text" name="password" id="password">
				</form>	

				<div class="wrapper">
					<p>Already have an account?</p>
					<a href="/login"><img class="login-button" src=".../images/btn_login.png"></a>
				</div>	
			</div>

		</div>
	</main>

	<footer>
		<%include ../partials/footer.ejs %>
	</footer>

</body>
</html>