/* header */
.navbar-custom {
	background-color: #fff;
}

body {
	background-color: #f4f4f4;
}
/* article display on index.ejs */
.article-container {
	background-color: #fff;
	margin-top: 30px;
	border: .5px solid #bababa;
	padding: 0 0 0 30px;
}

.title-container {
 	padding-right: 20px;
	background-color: #000;
	margin: 20px 0 10px 0;
	border-radius: 8px 0 0 8px;
}

.article-title {
	color: #fff;
	margin: 10px 0 0 10px;
	padding-bottom: 10px;
}

.yellow-line {
	height: 4px;
	color: #f9e00c;
	background-color: #f9e00c;
}

.article-synopsis {
	margin-left: 10px;
}

/* playlist/:id */
.song-imgURL {
	width: 400px;
}

/* audio player */
iframe {
	/* display: none; */
}

.player-icon {
	width: 40px;
}

/* footer */

/* no display */
.hidden {
	display: none;
}