/*=======================================
=========== header and navbar ===========
=========================================*/
div.container-fluid {
	height: 80px;
}

nav.navbar-custom {
	height: 80px;
	width: 100%;
	background-color: #000;
	font-size: 1.2em;
}

.navbar-collapse-custom, div#bs-navbar-collapse.navbar-collapse.collapse  {
	margin: 20px 20px 10px 0;
}

div#bs-navbar-collapse.navbar-collapse.collapse.in {
	margin: 15px 40px 10px 0;
	background-color: #000;
	border:none;
}

button.navbar-toggle {
	border: none;
	margin-top: 25px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #59FEFF;
    font-weight: 700;
}

/* brand */
h1.title-text-brand {
	font-size: 1.7em;
	font-weight: 700;
	color: #fff;
	width: 100%;
	margin: 10px 0 0 40px;
}

/*=======================================
========= main page css =================
=========================================*/
body {
	background-color: #e6e6e6; /*f4f4f4*/
}

h1 {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 4em;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 3em;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}

hr {
	border: 1px solid gainsboro;
}

div.container {
	padding-top: 80px;
}

div.new-playlist {
	margin-left: 63px;
	margin-top: 40px;
}

a.create {
	text-decoration: none;
	color: black;
}

a.create:hover {
	text-decoration: none;
	color: #FF3449; /*f4bc42*/
}

.alert-danger {
	text-align: center;
}

/* display playlists on index.ejs */
.group {
	width: 100%;
	display: block;
}

li {
	list-style-type: none;
}

.image-wrapper {
	position: relative;
	display: block;
	width:300px;
	margin: 20px auto 20px auto;
/*	float: left;
*//*	box-sizing: border-box;
*/
}

.tape-img {
	position: relative;
	display: block;
}

.title-wrapper {
	position: absolute;
	display: block;
	left: 25px;
	top: 26px;
	width: 245px;
	height: 50px;
	text-align: center;

}

h1.article-title { 
	font-size: 1.5em;
	margin: 2px 0 0 0;
	text-align: center;
	line-height: 97%;

}

.username-wrapper {
	position: absolute;
	top: 113px;
	right: 30px;
	text-align: right;
	width: 245px;
	height: 40px;
}

p.username-text {
	font-family: 'Space Mono', monospace;
	font-size: 1.2em;
}

/* old css main page */
/*.article-container {
	background-color: #fff;
	margin-top: 40px;
	border: 1px solid #f9f9f9;
	padding: 0 0 0 30px;
}

.title-container {
 	padding-right: 20px;
	background-color: #000;
	margin: 20px 0 10px 0;
	border-radius: 8px 0 0 8px;
}

.title-container:hover {
	cursor: pointer;
}

h1.article-title {
	color: #fff;
	margin: 10px 0 0 10px;
	padding-bottom: 10px;
	font-size: 2.5em;
}

.yellow-line {
	color: #f4bc42;
	border: 5px solid #f4bc42;
	background-color: #f4bc42;
	margin: 8px 0 0 0;
}

div.author {
	font-family: 'Space Mono', monospace;
	font-size: 1.2em;
	font-weight: 700;

}

.cf-custom {
	height: 40px;
}

.article-synopsis {
	margin-left: 10px;
}*/


/*=======================================
========= new playlist form =============
=========================================*/

.form-img {
	height: 46px;
	text-align: center;
}

#title {
	display: inline;
}

a.add-song-button, a.remove-song-button {
	text-decoration: none;
	color: black;
}

.rs-btn {
	text-align: right;
	box-sizing: content-box;
}


/*=======================================
========= display playlist:id ===========
=========================================*/
h1.title {
	background-color: #f4bc42;
	padding-left: 10px;
}

p.authoredby {
	display: inline-block;
	color: #606060;
}

h4.username {
	display: inline-block;
	margin-left: 10px;
	color: #606060;
}

hr.playlist-spacer {
	margin: 80px 0 80px 0;
}

p.synopsis {
	margin: 20px 0 0 0;
}

.artist-name {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
}

.img-container {
	width: 100%;
}

.img-fluid {
	max-width: 100%;
	min-width: 100%
}


/* audio player */
.video-container {
/*	display: none;
*/}

/*img.player-icon {
	margin: 10px 0 10px 10px;
	width: 40px;
	float: right;
}*/

button.play-video, button.pause {
	border: none;
	background: transparent;
	margin-top: 10px;
/*	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
*/}


p.song-description {
	margin: 10px 0 0 0;
}

.edit-playlist-button {
	margin-right: 25px;
}

/*=======================================
========= login and sign up pages =======
=========================================*/
.login-title {
	margin-bottom: 20px;
}

.login-btn {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #000;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	display:inline-block;
}

a.login-btn-link {
	text-decoration: none;
	color: #000;
}

.login-btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}

div.wrapper {
	margin-top: 20px;
}
p.wrapper {
	display: inline;
	margin-right: 10px;
	font-size: 1.3em;
}

/*=======================================
================ profile =================
=========================================*/
.profile-username {
	margin: 40px 0 40px 60px;
}

/*=======================================
================ footer =================
=========================================*/
footer {
	padding-top: 0;
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 1em;
}

hr.new-line {
	clear: left;
	border: none;
}

/* no display */
.hidden {
	display: none;
}