<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
			<article class="mxlist">
				<!-- insert article from db into template here -->
				<div class="article-banner">
					<h1 class="title">%db</h1>
					<div class="date">
						<div class="date-month">%</div>
						<div class="date-day">%</div>
					</div>
					<p class="description">%db</p>
					<hr class="yellow">
					<p class="author"></p>
				</div>
			</article>
		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>
</body>
</html>