<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">
			<article class="mxlist col-md-6 col-md-offset-3">
				<!-- insert article from db into template here -->
				<div class="article-banner">
					<h1 class="title">[Playlist Title]</h1>
					<div class="date">
						<div class="date-month">[MON]</div>
						<div class="date-day">[day]</div>
					</div>
					<p class="description">[descriptive text]</p>
					<hr class="yellow">
					<p class="author">username</p>
				</div>
			</article>
		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>